# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.nb-gradle/
*.nb-gradle-private/

# Class Files
*.class

# Package Files
*.jar
*.war
*.ear

# IntelliJ IDEA project files
*.idea/
